body {
    font-family: Roboto, sans-serif;
    margin: 0;
    //color: #F9FAF8;
}

h1, h2, h3{
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 480px;
    height: 220px;
    align-self: center;
}

p {
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav-links {
    display: flex;
    font-size: 14px;
    font-weight: 500;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

/** SECTION ONE **/

.section-one {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 108px;
}


.main-all-text {
    width: 415px;
    padding-right: 28px;
}

.main-heading {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.main-subtext {
    font-size: 17px;
    font-weight: 400;
    color: #E5E7EB;
    text-wrap: wrap;
}

.main-sign-up-button {
    margin-top: 14px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 7px 22px 7px 22px;
    font-weight: 600;
    border: none;
}

/** Section Two **/

.section-two {
    background-color: #F9FAF8;
}

.secondary-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.image-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    padding-bottom: 180px;
}

.image-boxes {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    border: 3px solid #3882F6;
}

.img-box-with-text {
    width: 180px;
    height: 180px;
    text-wrap: wrap;
    text-align: center;
}

.below-img-text {
    margin-top: 6px;
    opacity: 70%;
}

/** Section Three **/

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 500px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    width: 680px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    color: #1F2937;
}

/** Section Four **/

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #3882F6;
    height: 60px;
    width: 600px;
    padding: 35px 85px 35px 85px;
    gap: 120px;
    border-radius: 8px;
}

.call-to-action-button {
    color: #E5E7EB;
    background-color: #3882F6;
    border: #E5E7EB solid 2px;
    padding: 4px 22px 4px 22px;
    border-radius: 6px;
}

.call-to-action-text {
    font-size: 12px;
}

/** Footer **/

.footer {
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 26px;
}




